[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "superbiclust"]
	path = superbiclust
	url = https://github.com/cran/superbiclust
